<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Hero Tribute</title>
</head>
<body>
    <div class="container">
        <header class="my-4">
            <h1 class="text-center">Tribute to My Hero</h1>
            <p class="text-center">A special dedication to my hero</p>
        </header>
        <main>
            <div class="text-center">
                <h2>{{ hero_name }}</h2>
                <img src="{{ hero_image_url }}" class="img-fluid rounded" alt="Hero Image">
                <p class="mt-3">{{ hero_description }}</p>
            </div>
            <h3 class="mt-4">Achievements:</h3>
            <ul class="list-group">
                {% for achievement in hero_achievements %}
                <li class="list-group-item">{{ achievement }}</li>
                {% endfor %}
            </ul>
        </main>
        <footer class="mt-4 text-center">
            <p>Created with passion by Vijaya Sai </p>
        </footer>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
